@model ogloszenia.Models.Offer
@{
    ViewData["Title"] = "Nowa oferta";
}
<h1>@ViewData["Title"]</h1>
<form class="needs-validation" novalidate>
                <div>
                <div class="left">
                <input type="hidden" asp-for="@Model.id" />
                <input type="hidden" asp-for="@Model.ownerId" />
                <input type="hidden" asp-for="@Model.date" />
                <div>
                    <p>Nazwa produktu</p>
                    <input id="name" class="form-control" asp-for="@Model.name" onkeyup="EnableDisable()" required/>
                </div>
                </div>
                <div class="right">
                    <p>Opis</p>
                    <textarea id="description" rows="3" onkeyup="EnableDisable()" asp-for="@Model.description" required></textarea>
                </div>
                </div>
                <div class="center">
                <button id="button"  type="submit" class="btn btn-primary" onclick="return confirm('Czy na pewno chcesz dodać ogłoszenie o następującym tytule: ' + GetName());" disabled>Utwórz ofertę</button>
                </div>
            </form>
