
@model List<ogloszenia.Models.Offer>
@{
    ViewData["Title"] = "Home Page";
    Pager pager = new Pager();
    int currentPage = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        currentPage = pager.CurrentPage;
    }
}

<div class="text-center">

     <table>
            <tr>
                <th style="font-weight: bold;">
                    <p>Nazwa</p>
                </th>
                <th style="font-weight: bold;">
                    <p>Data</p>
                </th>
                <th>&nbsp</th>
            </tr>
        @foreach (var item in Model) 
        {
            <tr id="borders">
                <th>
                    <p>@item.name</p>
                </th>
                <th>
                    <p>@item.date</p>
                </th>
                <th>
                    <form method="post">
                        <button name="buttonid" type="submit" class="btn btn-primary" value="@item.id">Szczegóły</button>
                    </form>
                </th>
            </tr>
        }
        </table>
     <div>
        @if (pager.TotalPages > 0)
        {
            <ul class= "pagination justify-content-end">
                @if(currentPage >= 4) {
                <li class="page-item 1">
                        <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                </li>
                }
                @if(currentPage >= 5)
                {
                    <li class="page-item ...">
                        <a class="page-link">...</a>
                    </li>
                }
                @for(int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <li class="page-item @(i == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                @if(pager.TotalPages > pager.CurrentPage + 3)
                {
                    <li class="page-item ...">
                        <a class="page-link">...</a>
                    </li>
                }
                @if(pager.TotalPages > pager.CurrentPage + 2)
                {
                    <li class="page-item @pager.TotalPages">
                        <a class="page-link" asp-action="Index" asp-route-page="@pager.TotalPages">@pager.TotalPages</a>
                    </li>
                }
            </ul>
        }
    </div>  
</div>
